<div class="card daycard2" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Monday, 2022-01-24</h5>
    <div class="card-text">
      <div class="time-entry">
        <div class="from">8:00</div>
        <div class="separator">-</div>
        <div class="to">12:00</div>
        <div class="duration">(4:00h)</div>
      </div>
      <div class="time-entry">
        <div class="from">13:00</div>
        <div class="separator">-</div>
        <div class="to">17:10</div>
        <div class="duration">(4:00h)</div>
      </div>
      <div class="time-summary mt-3">
        <div>Total:</div>
        <div>8:00h</div>
      </div>
      <div class="time-summary">
        <div>Under/Overtime:</div>
        <div>+0:10h</div>
      </div>
    </div>
  </div>
</div>
