.container {
    margin-top: 3rem;

    width: 100%;
    text-align: center;

    .underOverTime {
        margin-top: 1rem;
        font-size: 2rem;
    
        &.red {
            color: rgb(190, 0, 0);
        }
    
        &.green {
            color: rgb(0, 180, 0);
        }
    }
}
