table.time {
    width: 100%;

    tr {
        td {
            padding: 0;

            &:last-child {
                width: 40%;
            }
        }

        &:not(:last-child) td {
            padding-bottom: 1rem;
        }
    }
}

.radioGroupAddAnotherEntry {
    float: right;
}
