<div class="card daycard" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Monday, 2022-01-24</h5>
    <div class="card-text">
      <table>
        <tr>
          <td class="time">8:00</td>
          <td class="separator">-</td>
          <td class="time">12:00</td>
          <td class="time">(4:00h)</td>
        </tr>
        <tr>
          <td class="time">13:00</td>
          <td class="separator">-</td>
          <td class="time">17:10</td>
          <td class="time">(4:00h)</td>
        </tr>
        <tr>
          <td class="pt-3" colspan="3">Total:</td>
          <td class="pt-3 time">8:00h</td>
        </tr>
        <tr>
          <td colspan="3">Under/Overtime:</td>
          <td class="time">+0:10h</td>
        </tr>
      </table>
    </div>
  </div>
</div>
