.daycard {
    height: 100%;

    table {
        width: 100%;

        tr td {
            &.time {
                text-align: right;
            }
            
            &.separator {
                text-align: center;
            }

            &.red {
                color: rgb(190, 0, 0);
            }

            &.green {
                color: rgb(0, 180, 0);
            }
        }
    }
}
