<div class="card daycard" *ngIf="date">
  <div class="card-body">
    <h5 class="card-title">{{date | date:"EEEE, yyyy-MM-dd" }}</h5>
    <div class="card-text">
      <table *ngIf="totalTime && underOverTime">
        <tr *ngFor="let workingTime of workingTimes">
          <td class="time">{{workingTime.from | time}}</td>
          <td class="separator">-</td>
          <td class="time">{{workingTime.to | time}}</td>
          <td class="time">({{getTimeDifference(workingTime.from, workingTime.to)| time}}h)</td>
        </tr>
        <tr>
          <td class="pt-3" colspan="3">Total:</td>
          <td class="pt-3 time">{{totalTime | time}}h</td>
        </tr>
        <tr *ngIf="settings && settings.standardWorkingTimes">
          <td colspan="3">Under/Overtime:</td>
          <td class="time" [ngClass]="{
            'red': underOverTime.isNegativeTime(),
            'green': !underOverTime.isNegativeTime()
          }">
            {{underOverTime | time:false:true}}h
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
