<div class="settings-container">
    <h6>Working hours:</h6>
    <div class="indent">
        <table class="table-working-hours">
            <tr>
                <td>Monday:</td>
                <td><input type="text" class="form-control" value="08:00" /></td>
            </tr>
            <tr>
                <td>Tuesday:</td>
                <td><input type="text" class="form-control" value="08:00" /></td>
            </tr>
            <tr>
                <td>Wednesday:</td>
                <td><input type="text" class="form-control" value="08:00" /></td>
            </tr>
            <tr>
                <td>Thursday:</td>
                <td><input type="text" class="form-control" value="08:00" /></td>
            </tr>
            <tr>
                <td>Friday:</td>
                <td><input type="text" class="form-control" value="08:00" /></td>
            </tr>
            <tr>
                <td>Saturday:</td>
                <td><input type="text" class="form-control" value="00:00" /></td>
            </tr>
            <tr>
                <td>Sunday:</td>
                <td><input type="text" class="form-control" value="00:00" /></td>
            </tr>
        </table>
    </div>

    <h6 class="mt-3">Week starts on:</h6>
    <div class="indent">
        <select class="form-control" aria-label="Week starts on">
            <option value="1" selected>Monday</option>
            <option value="2">Tuesday</option>
            <option value="3">Wednesday</option>
            <option value="4">Thursday</option>
            <option value="5">Friday</option>
            <option value="6">Saturday</option>
            <option value="0">Sunday</option>
        </select>
    </div>

    <button type="button" class="btn btn-danger mt-4 btn-settings-save">Save</button>
</div>
